# IDE
.claude
.vscode
.idea

CLAUDE.md
GEMINI.md
AGENTS.md

# Dependencies
node_modules

# Build outputs
dist

# Temporary files
tmp/

# OS files
.DS_Store

# Package files
*.tgz

# Test reports
coverage/
.nyc_output/
.vitestcache/

# Test gen outputs
**/test/outputs/

# Turborepo
.turbo